.fade-enter {
    max-height: 0;
    overflow: hidden;
}

.fade-enter-active {
    max-height: 300px;
    overflow: hidden;
    transition: max-height 300ms ease-in-out;
}

.fade-exit {
    max-height: 300px;
    overflow: hidden;
}

.fade-exit-active {
    max-height: 0;
    overflow: hidden;
    transition: max-height 300ms ease-in-out;
}